<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<form method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div>
    <label for="name">Enter your name:</label>
    <input type="name" name="name" />
  </div>
  <div>
    <label for="email">Enter your email:</label>
    <input type="email" name="email" />
  </div>
  <div>
    <label for="password">Enter your password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <label for="password1">Confirm your password:</label>
    <input type="password" name="password1" />
  </div>
  <div>
    <button type="submit">Register</button>
    <a href="/">Cancel</a>
  </div>
</form>

<%- include("partials/footer.ejs") %>
